@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* Use if using a non-pixelated font */
/* canvas {
  image-rendering: pixelated;
} */

button {
  touch-action: 'none';
}

/* Anchor in infobox */
a {
  cursor: pointer;
  z-index: 10;
  color: var(--color-white);

  &:hover {
    color: var(--color-amber-500);
  }
}
